@font-face {
  font-family: "Merriweather Sans";
  src: url("../fonts/MerriweatherSans-Regular.ttf"); }

html {
  background: url("../img/flower.jpg") left bottom no-repeat fixed, black;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

body {
  color: white; }
  
a {
  color: rgb(255, 249, 176); }
  
a:visited {
  color: rgb(216, 198, 159); }
  
a:active {
  color: rgb(240, 132, 132); }
  

body, input, select {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 17px; }

body {
  text-shadow: -1px -1px 10px black,
             1px 1px 10px black;
}

p {
  line-height: 1.5em; }

article p {
  margin-bottom: 20px; }

input, select {
  font-size: 15px; }

h1, #miau {
  text-align: center; 
  text-shadow: 0 1px 5px white;
}

#form_container {
  border: 1px solid rgba(238, 255, 186, 0.65);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px; 
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 5px rgba(238, 255, 186, 0.65);
}
  
#introduction {
  border: none;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px; 
  margin-bottom: -50px;
}

form .fields {
  width: 100%;
  display: table;
  border-collapse: collapse; }

form .fields > .field {
  display: table-row; }

form .fields > .field > .cell {
  display: table-cell;
  padding: 5px 5px;
  text-align: left; }

form input[type="submit"] {
  margin-top: 25px;
  margin-left: 5px; }

input[type="text"] {
  cursor: text; }

#share_title {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px; }

#lasagna_url_field {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  border: 1px solid #ff912f;
  padding: 3px;
  font-size: 36px; }

#store_more {
  margin-top: 45px; }

#copyright_footer {
  padding-top: 50px;
  width: 600px;
  margin: 0 auto; }

hr {
  width: 600px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 186, 0.65); }

#copyright_footer_note {
  font-size: 75%;
  text-align: center; }

#set_your_style {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(255, 234, 207);
}

#set_your_style li {
    display: inline-block;
    font-style: italic;
    margin: 0 1px;
}
#set_your_style ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#set_your_style li,
#set_your_style li a {
    color: rgb(255, 249, 176);
}
