{% load i18n %}{% load staticfiles %}<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ lasana_name }}{% endblock %}</title>
  <link rel="stylesheet" href="{{ stylesheet }}" />
</head>
<body>
  <header role="banner">
    <h1>{{ lasana_name }}</h1>
  </header>
  <section id="set_your_style" aria-hidden>
    <span>{% trans "Set your favorite style!" %}</span>
    <ul>
      <li>
        {% if style != 'default' %}<a href="{% url 'set-style' %}?style=default">{% endif %}
          {% trans "Original" %}
        {% if style != 'default' %}</a>{% endif %}
      </li>
      <li>
        {% if style != 'reimu' %}<a href="{% url 'set-style' %}?style=reimu">{% endif %}
          {% trans "Cute" %}
        {% if style != 'reimu' %}</a>{% endif %}
      </li>
      <li>
        {% if style != 'dark' %}<a href="{% url 'set-style' %}?style=dark">{% endif %}
          {% trans "Dark" %}
        {% if style != 'dark' %}</a>{% endif %}
      </li>
    </ul>
  </section>
  <div id="content" role="main">
  {% block content %}
  {% endblock %}
  </div>
  {% block additional_content %}
  {% endblock %}
  <footer role="contentinfo">
    <div id="copyright_footer_note">
      {% include "lasana/copyright_footer_note.html" %}
    </div>
  </footer>
</body>
</html>
