{% load i18n %}{% load staticfiles %}<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title>{% block title %}{{ lasana_name }}{% endblock %} - {% trans "For uploading things" %}</title>
  <link rel="stylesheet" href="{% static 'lasana/css/common.css' %}" />
  <link id="user_style" rel="stylesheet" href="{{ stylesheet }}" />
  <link rel="shortcut icon" href="{% static 'lasana/img/favicon.png' %}" />
</head>
<body>
  <header role="banner">
    <h1>{{ lasana_name }}</h1>
  </header>
  {% if allow_change_style %}
  {% include "lasana/style_collection.html" %}
  {% endif %}
  <div id="content" role="main">
  {% block content %}
  {% endblock %}
  </div>
  {% block additional_content %}
  {% endblock %}
  <footer role="contentinfo">
    <div id="copyright_footer_note">
      {% include "lasana/copyright_footer_note.html" %}
    </div>
  </footer>
</body>
</html>
