{% load i18n %}{% load staticfiles %}<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ lasana_name }}{% endblock %}</title>
  <link rel="stylesheet" href="{{ stylesheet }}" />
</head>
<body>
  <header role="banner">
    <h1>{{ lasana_name }}</h1>
  </header>
  {% include "lasana/style_collection.html" %}
  <div id="content" role="main">
  {% block content %}
  {% endblock %}
  </div>
  {% block additional_content %}
  {% endblock %}
  <footer role="contentinfo">
    <div id="copyright_footer_note">
      {% include "lasana/copyright_footer_note.html" %}
    </div>
  </footer>
</body>
</html>
