{% extends "lasana/base.html" %}
{% load i18n %}

{% block content %}
<div id="form_container">
  <form enctype="multipart/form-data" action="" method="POST">
    <div class="fields">
      {% for field in form %}
      <div class="field">
        <div class="cell">{{ field.label_tag }}</div>
        <div class="cell">{{ field }}{{ field.errors }}</div>
      </div>
      {% endfor %}
    </div>
    {% csrf_token %}
    <input type="submit" value="{% trans "Put in the oven" %}"/>
  </form>
</div>
<article id="introduction">
  {% include "lasana/introduction_note.html" %}
</article>
{% endblock %}
